/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  I have slightly modified the CSS reset, go to the link above for the original one.
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}

input {
    display: block;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --dark-purple: #7469B6;
    --purple: #AD88C6;
    --pink: #E1AFD1;
    --light-pink: #FFE6E6;
    --important: #00c3ff;
}

/* End of CSS Reset */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 1rem;
    background-color: var(--dark-purple);
    font-family: Roboto;
}

.quote1 {
    color: var(--light-pink);
}

.quote2 {
    color: var(--important);
}

.svg-logo {
    height: 3rem;
    margin: 0 5px 0 5px;
    filter: invert(98%) sepia(27%) saturate(2381%) hue-rotate(290deg) brightness(119%) contrast(104%);
}

.svg-logo-h2 {
    height: 2.5rem;
    filter: invert(98%) sepia(27%) saturate(2381%) hue-rotate(290deg) brightness(119%) contrast(104%);
}

.icon:hover {
    filter: invert(60%) sepia(17%) saturate(878%) hue-rotate(232deg) brightness(96%) contrast(84%);
}

.project {
    background-color: var(--purple);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
        margin-left: 5px;
    }

    button {
        background-color: inherit;
        border: none;
    }

    img {
        width: 2.5rem;
        filter: invert(98%) sepia(27%) saturate(2381%) hue-rotate(290deg) brightness(119%) contrast(104%);
    }

    img:hover {
        filter: invert(47%) sepia(24%) saturate(964%) hue-rotate(209deg) brightness(89%) contrast(91%);
    }
}

.project:hover {
    background-color: var(--pink);
}

#left-column {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

#left-column *{
    border-radius: 10px;
}

#logo, #filters, #projects {
    background-color: var(--purple);
    padding: 1rem;
    color: var(--light-pink);
}

#logo {
    display: flex;
    align-items: center;
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    button {
        text-align: left;
        border: none;
        background-color: inherit;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 5px;
    }

    button:hover {
        background-color: var(--pink);
    }
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 5px;

    #create {
        box-sizing: border-box;
        padding: 5px;
        padding-left: 10px;
        text-align: left;
        border: none;
        background-color: var(--dark-purple);
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        width: 100%;
        gap: 5px;
    }

    #create:hover {
        outline: #FFE6E6;
    }

    :nth-child(2) {
        margin-left: auto;
    }
}

#create-btn {
    background-color: inherit;
    border: none;
}

#main-interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--purple);
    border: none;
    color: var(--light-pink);
    border-radius: 16px;

    input {
        background-color: var(--dark-purple);
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 4px 8px;
    }

    input[type="submit"]{
        display: inline;
        margin-top: 1rem;
    }

    input:hover{
        color: var(--pink);
    }
}

select {
    background-color: var(--dark-purple);
    outline: none;
    border-radius: 5px;
    display: block;
}